ul.ui-listview li .ui-btn-inner{
	padding: 0px;
	font-size: 18px;
}

ul.ui-listview li .ui-btn-inner .ui-btn-text a{
	padding:10px;
}

.ng_cargo{
	height: 30px;
}

.weight{
	vertical-align: middle;
	display: inline-block;
	height: 47px;
	width: 40px;
	margin-right: 10px;
	opacity: 0.85;
	-moz-opacity: 0.45;
	filter: alpha(opacity=45);
	background-image: url(../img/weight.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.licenseplate{	
	vertical-align: middle;
	display: inline-block;
	height: 45px;
	width: 62px;
	margin-right: 10px;
	opacity: 0.85;
	-moz-opacity: 0.45;
	filter: alpha(opacity=45);
	background-image: url(../img/truck.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.check{
	vertical-align: middle;
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
	height: 64px;
	margin: 0 auto;
	width: 64px;
	background-image: url(../img/check.png);
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: center center;
}
}
	
.ui-btn .ui-btn-inner { padding: 20px;font-size: 25px; }

.ui-btn-up-b {
	font-weight: 400;
}

.ui-icon-loadmaster-arrow{
	background-image: url("../img/loadmaster-arrow.jpg");
	background-position: center center;
	background-size: 12px 14px;
}


.gpsnotfound{
	padding-top: 50px;
	width: 90%;
	margin: 0 auto;
	position: absolute;
	top: 10%;
	z-index: 5;
	left: 5%;
}

.gpsnotfound .textarea{
	height:100px;
}

.textarea{
	margin: 0 auto !important;
	height: 50px;	
}

#comments_start, #comments_end{
	height: 50px;
}

/********************************
	.ui-btn
*********************************/

.ui-btn.ui-btn-pressed {
	background:green;
}

/********************************
	marker animation
*********************************/

/* your custom CSS \*/
@-moz-keyframes pulsate {
	from {
		-moz-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-moz-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-moz-transform: scale(0.3);
		opacity: 0;
	}
}
@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
}
/* get the container that's just outside the marker image, 
	which just happens to have our Marker title in it */
.markeranimation .map-container div.gmnoprint[title="marker"], .markeranimation .map-container div.gmnoprint[title="Updated / Accurate Position"] {
	-moz-animation: pulsate 1.5s ease-in-out infinite;
	-webkit-animation: pulsate 1.5s ease-in-out infinite;
	border:1pt solid #fff;
	/* make a circle */
	-moz-border-radius:51px;
	-webkit-border-radius:51px;
	border-radius:51px;
	/* multiply the shadows, inside and outside the circle */
	-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	/* set the ring's new dimension and re-center it */
	height:51px!important;
	margin:-10px 0 0 -10px;
	width:51px!important;
}
/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map_canvas div[style*="987654"][title] img {*/
.markeranimation .map-container div.gmnoprint[title="marker"] img, .markeranimation .map-container div.gmnoprint[title="Updated / Accurate Position"] img {
	display:none;
}
/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
	.markeranimation .map-container div.gmnoprint[title="marker"], .markeranimation .map-container div.gmnoprint[title="Updated / Accurate Position"]  {
		margin:-18px 0 0 -18px;
	}
}


