ul.ui-listview li .ui-btn-inner{
	padding: 0px;
	font-size: 18px;
}

ul.ui-listview li .ui-btn-inner .ui-btn-text a{
	padding:10px;
}



.weight{
	vertical-align: middle;
	display: inline-block;
	height: 47px;
	width: 40px;
	margin-right: 10px;
	opacity: 0.85;
	-moz-opacity: 0.45;
	filter: alpha(opacity=45);
	background-image: url(../img/weight.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.licenseplate{	
	vertical-align: middle;
	display: inline-block;
	height: 45px;
	width: 62px;
	margin-right: 10px;
	opacity: 0.85;
	-moz-opacity: 0.45;
	filter: alpha(opacity=45);
	background-image: url(../img/truck.png);
	background-repeat: no-repeat;
	background-position: center center;
}

.check{
	vertical-align: middle;
	display: block;
	margin-bottom: 20px;
	margin-top: 20px;
	height: 64px;
	margin: 0 auto;
	width: 64px;
	background-image: url(../img/check.png);
	background-size: 64px 64px;
	background-repeat: no-repeat;
	background-position: center center;
}

.img-double-size{
	height: 128px;
	width: 128px;
	background-size: 128px 128px;
}

.registered{
	margin-left: -15px !important;
	position: absolute;
	background-color: rgba(245,245,245,0.9);
	height: 100%;
	width: 100%;
	z-index: 5;
	border-radius: 2px 2px 2px 2px;
	text-align: center;
}

.vertical-middle{
	margin-top: 15%;
}

.ui-btn .ui-btn-inner { 
	padding: 30px; 
	font-size: 30px; 
}

.ui-icon-loadmaster-arrow{
	background-image: url("../img/loadmaster-arrow.jpg");
	background-position: center center;
	background-size: 24px 28px;
}

.ui-btn-icon-left .ui-icon{
	left: 20px;
}

input.ui-input-text, textarea.ui-input-text{
	font-size: 20px;
}

.ui-icon {
	width: 36px;
	height: 36px;
}

.ui-icon, .ui-icon-searchfield:after{
	-webkit-border-radius: 18px;
	border-radius: 18px;
}

.ui-btn-icon-left>.ui-btn-inner>.ui-icon{
	margin-top: -18px;
}

#suggestions .ui-icon{
	width: 18px;
	height: 18px;
}

#suggestions .ui-icon, .ui-icon-searchfield:after{
	-webkit-border-radius: 9px;
	border-radius: 9px;
}


.gpsnotfound{
	padding-top: 50px;
	width: 90%;
	margin: 0 auto;
	position: absolute;
	top: 10%;
	z-index: 5;
	left: 5%;
}

.gpsnotfound .textarea{
	height:100px;
}

.textarea{
	margin: 0 auto !important;
	height: 50px;	
}

#comments_start, #comments_end{
	height: 75px;
}

.ng_cargo{
	height: 50px;
}

/********************************
	.ui-btn
*********************************/


/********************************
	marker animation
*********************************/

/* your custom CSS \*/
@-moz-keyframes pulsate {
	from {
		-moz-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-moz-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-moz-transform: scale(0.3);
		opacity: 0;
	}
}
@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
}
/* get the container that's just outside the marker image, 
	which just happens to have our Marker title in it */
.markeranimation .map-container div.gmnoprint[title="marker"], .markeranimation .map-container div.gmnoprint[title="Updated / Accurate Position"] {
	-moz-animation: pulsate 1.5s ease-in-out infinite;
	-webkit-animation: pulsate 1.5s ease-in-out infinite;
	border:1pt solid #fff;
	/* make a circle */
	-moz-border-radius:51px;
	-webkit-border-radius:51px;
	border-radius:51px;
	/* multiply the shadows, inside and outside the circle */
	-moz-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	-webkit-box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	box-shadow:inset 0 0 5px #06f, inset 0 0 5px #06f, inset 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f, 0 0 5px #06f;
	/* set the ring's new dimension and re-center it */
	height:51px!important;
	margin:-10px 0 0 -10px;
	width:51px!important;
}
/* hide the superfluous marker image since it would expand and shrink with its containing element */
/*	#map_canvas div[style*="987654"][title] img {*/
.markeranimation .map-container div.gmnoprint[title="marker"] img, .markeranimation .map-container div.gmnoprint[title="Updated / Accurate Position"] img {
	display:none;
}
/* compensate for iPhone and Android devices with high DPI, add iPad media query */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (device-width: 768px) {
	.markeranimation .map-container div.gmnoprint[title="marker"], .markeranimation .map-container div.gmnoprint[title="Updated / Accurate Position"]  {
		margin:-18px 0 0 -18px;
	}
}


